CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Acumuladores]    Script Date: 10/12/2024 18:16:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Acumuladores](
	[IdAcumulador] [int] IDENTITY(1,1) NOT NULL,
	[Estado] [nvarchar](max) NOT NULL,
	[Capacidad] [int] NOT NULL,
	[InputGas] [int] NOT NULL,
	[OutputGas] [int] NOT NULL,
	[VolumenGas] [float] NOT NULL,
 CONSTRAINT [PK_Acumuladores] PRIMARY KEY CLUSTERED 
(
	[IdAcumulador] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Agitadores]    Script Date: 10/12/2024 18:16:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Agitadores](
	[IdAgitador] [int] IDENTITY(1,1) NOT NULL,
	[FechaHora] [datetime2](7) NOT NULL,
	[HoraEncendidoAgitador] [time](7) NOT NULL,
	[HoraApagadoAgitador] [time](7) NOT NULL,
 CONSTRAINT [PK_Agitadores] PRIMARY KEY CLUSTERED 
(
	[IdAgitador] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BiodigestorEntities]    Script Date: 10/12/2024 18:16:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BiodigestorEntities](
	[IdBiodigestor] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [nvarchar](max) NOT NULL,
	[Estado] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_BiodigestorEntities] PRIMARY KEY CLUSTERED 
(
	[IdBiodigestor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Calentadores]    Script Date: 10/12/2024 18:16:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Calentadores](
	[IdCalentador] [int] IDENTITY(1,1) NOT NULL,
	[FechaHora] [datetime2](7) NOT NULL,
	[HoraEncendidoCalentador] [time](7) NOT NULL,
	[HoraApagadoCalentador] [time](7) NOT NULL,
 CONSTRAINT [PK_Calentadores] PRIMARY KEY CLUSTERED 
(
	[IdCalentador] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Clientes]    Script Date: 10/12/2024 18:16:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clientes](
	[NumeroCliente] [int] IDENTITY(1,1) NOT NULL,
	[DNI] [int] NOT NULL,
	[Nombre] [nvarchar](max) NOT NULL,
	[Apellido] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](max) NULL,
 CONSTRAINT [PK_Clientes] PRIMARY KEY CLUSTERED 
(
	[NumeroCliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Domicilios]    Script Date: 10/12/2024 18:16:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Domicilios](
	[NumeroMedidor] [int] IDENTITY(1,1) NOT NULL,
	[Calle] [nvarchar](max) NOT NULL,
	[Numero] [nvarchar](max) NOT NULL,
	[Piso] [nvarchar](max) NULL,
	[Departamento] [nvarchar](max) NULL,
	[NumeroCliente] [int] NOT NULL,
 CONSTRAINT [PK_Domicilios] PRIMARY KEY CLUSTERED 
(
	[NumeroMedidor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Estados]    Script Date: 10/12/2024 18:16:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Estados](
	[IdEstado] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdEstado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Facturas]    Script Date: 10/12/2024 18:16:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Facturas](
	[NumeroFactura] [int] IDENTITY(1,1) NOT NULL,
	[FechaEmision] [date] NOT NULL,
	[FechaVencimiento] [date] NOT NULL,
	[ConsumoMensual] [decimal](10, 2) NOT NULL,
	[ConsumoTotal] [decimal](10, 2) NOT NULL,
	[NumeroCliente] [int] NOT NULL,
	[NumeroMedidor] [int] NOT NULL,
 CONSTRAINT [PK_Facturas] PRIMARY KEY CLUSTERED 
(
	[NumeroFactura] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Personal]    Script Date: 10/12/2024 18:16:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Personal](
	[Legajo] [int] IDENTITY(1,1) NOT NULL,
	[DNI] [int] NULL,
	[Nombre] [varchar](50) NULL,
	[Apellido] [varchar](50) NULL,
	[Email] [varchar](100) NULL,
	[Rol] [varchar](50) NULL,
 CONSTRAINT [PK__Personal__0E01039B29DE2D45] PRIMARY KEY CLUSTERED 
(
	[Legajo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Registros]    Script Date: 10/12/2024 18:16:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Registros](
	[IdRegistro] [int] IDENTITY(1,1) NOT NULL,
	[IdSensor] [int] NOT NULL,
	[IdBiodigestor] [int] NOT NULL,
	[TipoSensor] [nvarchar](50) NOT NULL,
	[FechaHora] [datetime] NOT NULL,
	[Alerta] [float] NULL,
	[Alarma] [float] NULL,
	[Normal] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdRegistro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SensoresHumedad]    Script Date: 10/12/2024 18:16:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SensoresHumedad](
	[IdSensor] [int] IDENTITY(1,1) NOT NULL,
	[IdBiodigestor] [int] NOT NULL,
	[FechaHora] [datetime] NOT NULL,
	[Estado] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdSensor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SensoresPresion]    Script Date: 10/12/2024 18:16:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SensoresPresion](
	[IdSensor] [int] IDENTITY(1,1) NOT NULL,
	[IdBiodigestor] [int] NOT NULL,
	[FechaHora] [datetime] NOT NULL,
	[Estado] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdSensor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SensoresTemperatura]    Script Date: 10/12/2024 18:16:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SensoresTemperatura](
	[IdSensor] [int] IDENTITY(1,1) NOT NULL,
	[IdBiodigestor] [int] NOT NULL,
	[FechaHora] [datetime] NOT NULL,
	[Estado] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdSensor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UsuariosRegistrados]    Script Date: 10/12/2024 18:16:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsuariosRegistrados](
	[IdUsuarioRegistrado] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Password] [nvarchar](100) NOT NULL,
	[DNI] [int] NOT NULL,
	[Rol] [nvarchar](20) NULL,
	[FotoPerfil] [varbinary](max) NULL,
	[TipoContenidoFoto] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdUsuarioRegistrado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ValvulasAgua]    Script Date: 10/12/2024 18:16:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ValvulasAgua](
	[IdValvulaAgua] [int] IDENTITY(1,1) NOT NULL,
	[FechaHora] [datetime2](7) NOT NULL,
	[VaHoraApertura] [time](7) NOT NULL,
	[VaHoraCierre] [time](7) NOT NULL,
 CONSTRAINT [PK_ValvulasAgua] PRIMARY KEY CLUSTERED 
(
	[IdValvulaAgua] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ValvulasPresion]    Script Date: 10/12/2024 18:16:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ValvulasPresion](
	[IdValvulaPresion] [int] IDENTITY(1,1) NOT NULL,
	[FechaHora] [datetime2](7) NOT NULL,
	[VpHoraApertura] [time](7) NOT NULL,
	[VpHoraCierre] [time](7) NOT NULL,
 CONSTRAINT [PK_ValvulasPresion] PRIMARY KEY CLUSTERED 
(
	[IdValvulaPresion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20240914205151_InitialCreate', N'8.0.8')
GO
SET IDENTITY_INSERT [dbo].[Acumuladores] ON 

INSERT [dbo].[Acumuladores] ([IdAcumulador], [Estado], [Capacidad], [InputGas], [OutputGas], [VolumenGas]) VALUES (1, N'Acumulando', 100, 80, 50, 0)
SET IDENTITY_INSERT [dbo].[Acumuladores] OFF
GO
SET IDENTITY_INSERT [dbo].[BiodigestorEntities] ON 

INSERT [dbo].[BiodigestorEntities] ([IdBiodigestor], [Descripcion], [Estado]) VALUES (1, N'Automatizado 1', N'Activo')
INSERT [dbo].[BiodigestorEntities] ([IdBiodigestor], [Descripcion], [Estado]) VALUES (2, N'2500', N'Activo')
SET IDENTITY_INSERT [dbo].[BiodigestorEntities] OFF
GO
SET IDENTITY_INSERT [dbo].[Clientes] ON 

INSERT [dbo].[Clientes] ([NumeroCliente], [DNI], [Nombre], [Apellido], [Email]) VALUES (1, 1111111, N'Cacho', N'Santangelo', N'cacho@alejandro')
INSERT [dbo].[Clientes] ([NumeroCliente], [DNI], [Nombre], [Apellido], [Email]) VALUES (2, 2222222, N'Paula', N'Chianelli', N'paula@paula')
INSERT [dbo].[Clientes] ([NumeroCliente], [DNI], [Nombre], [Apellido], [Email]) VALUES (4, 4444444, N'Paz', N'Santangelo', N'paz@paz')
SET IDENTITY_INSERT [dbo].[Clientes] OFF
GO
SET IDENTITY_INSERT [dbo].[Domicilios] ON 

INSERT [dbo].[Domicilios] ([NumeroMedidor], [Calle], [Numero], [Piso], [Departamento], [NumeroCliente]) VALUES (1, N'La granja', N'193', N'0', N'0', 1)
INSERT [dbo].[Domicilios] ([NumeroMedidor], [Calle], [Numero], [Piso], [Departamento], [NumeroCliente]) VALUES (3, N'La Granja', N'193', N'0', N'1', 1)
INSERT [dbo].[Domicilios] ([NumeroMedidor], [Calle], [Numero], [Piso], [Departamento], [NumeroCliente]) VALUES (4, N'La granja', N'193', N'4', N'22', 1)
SET IDENTITY_INSERT [dbo].[Domicilios] OFF
GO
SET IDENTITY_INSERT [dbo].[Estados] ON 

INSERT [dbo].[Estados] ([IdEstado], [Descripcion]) VALUES (1, N'Normal')
INSERT [dbo].[Estados] ([IdEstado], [Descripcion]) VALUES (2, N'Alerta')
INSERT [dbo].[Estados] ([IdEstado], [Descripcion]) VALUES (3, N'Alarma')
SET IDENTITY_INSERT [dbo].[Estados] OFF
GO
SET IDENTITY_INSERT [dbo].[Facturas] ON 

INSERT [dbo].[Facturas] ([NumeroFactura], [FechaEmision], [FechaVencimiento], [ConsumoMensual], [ConsumoTotal], [NumeroCliente], [NumeroMedidor]) VALUES (2, CAST(N'2024-09-20' AS Date), CAST(N'2024-09-20' AS Date), CAST(30.00 AS Decimal(10, 2)), CAST(0.00 AS Decimal(10, 2)), 1, 1)
SET IDENTITY_INSERT [dbo].[Facturas] OFF
GO
SET IDENTITY_INSERT [dbo].[Personal] ON 

INSERT [dbo].[Personal] ([Legajo], [DNI], [Nombre], [Apellido], [Email], [Rol]) VALUES (1, 16656885, N'Alejandro', N'Santangelo', N'cacho@cacho', N'Manager')
INSERT [dbo].[Personal] ([Legajo], [DNI], [Nombre], [Apellido], [Email], [Rol]) VALUES (3, 7777777, N'Yamil', N'Alvarado', N'yamil@yamil', N'Tecnico')
INSERT [dbo].[Personal] ([Legajo], [DNI], [Nombre], [Apellido], [Email], [Rol]) VALUES (5, 9999999, N'Daniel Salvador ', N'Patti', N'daniel@daniel', N'Administracion')
SET IDENTITY_INSERT [dbo].[Personal] OFF
GO
SET IDENTITY_INSERT [dbo].[Registros] ON 

INSERT [dbo].[Registros] ([IdRegistro], [IdSensor], [IdBiodigestor], [TipoSensor], [FechaHora], [Alerta], [Alarma], [Normal]) VALUES (1, 1, 1, N'Humedad', CAST(N'2024-09-25T18:59:28.153' AS DateTime), NULL, 100, NULL)
INSERT [dbo].[Registros] ([IdRegistro], [IdSensor], [IdBiodigestor], [TipoSensor], [FechaHora], [Alerta], [Alarma], [Normal]) VALUES (2, 1, 1, N'Humedad', CAST(N'2024-09-25T18:59:28.153' AS DateTime), NULL, 100, NULL)
INSERT [dbo].[Registros] ([IdRegistro], [IdSensor], [IdBiodigestor], [TipoSensor], [FechaHora], [Alerta], [Alarma], [Normal]) VALUES (3, 1, 1, N'Humedad', CAST(N'2024-09-25T19:04:35.053' AS DateTime), NULL, NULL, 50)
SET IDENTITY_INSERT [dbo].[Registros] OFF
GO
SET IDENTITY_INSERT [dbo].[SensoresHumedad] ON 

INSERT [dbo].[SensoresHumedad] ([IdSensor], [IdBiodigestor], [FechaHora], [Estado]) VALUES (1, 1, CAST(N'2024-09-25T18:58:52.513' AS DateTime), N'Activo')
SET IDENTITY_INSERT [dbo].[SensoresHumedad] OFF
GO
SET IDENTITY_INSERT [dbo].[SensoresPresion] ON 

INSERT [dbo].[SensoresPresion] ([IdSensor], [IdBiodigestor], [FechaHora], [Estado]) VALUES (1, 1, CAST(N'2024-09-27T07:04:19.927' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[SensoresPresion] OFF
GO
SET IDENTITY_INSERT [dbo].[SensoresTemperatura] ON 

INSERT [dbo].[SensoresTemperatura] ([IdSensor], [IdBiodigestor], [FechaHora], [Estado]) VALUES (1, 1, CAST(N'2024-09-27T07:48:09.427' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[SensoresTemperatura] OFF
GO
SET IDENTITY_INSERT [dbo].[UsuariosRegistrados] ON 

INSERT [dbo].[UsuariosRegistrados] ([IdUsuarioRegistrado], [Username], [Email], [Password], [DNI], [Rol], [FotoPerfil], [TipoContenidoFoto]) VALUES (17, N'YamilYamil', N'yamil@yamil', N'Yamil3103', 7777777, N'Tecnico', NULL, NULL)
INSERT [dbo].[UsuariosRegistrados] ([IdUsuarioRegistrado], [Username], [Email], [Password], [DNI], [Rol], [FotoPerfil], [TipoContenidoFoto]) VALUES (18, N'MPCHianelli', N'paula@paula', N'Paco3103', 14575383, N'Manager', NULL, NULL)
SET IDENTITY_INSERT [dbo].[UsuariosRegistrados] OFF
GO
/****** Object:  Index [IX_Domicilios_NumeroCliente]    Script Date: 10/12/2024 18:16:48 ******/
CREATE NONCLUSTERED INDEX [IX_Domicilios_NumeroCliente] ON [dbo].[Domicilios]
(
	[NumeroCliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Facturas_NumeroCliente]    Script Date: 10/12/2024 18:16:48 ******/
CREATE NONCLUSTERED INDEX [IX_Facturas_NumeroCliente] ON [dbo].[Facturas]
(
	[NumeroCliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Facturas_NumeroMedidor]    Script Date: 10/12/2024 18:16:48 ******/
CREATE NONCLUSTERED INDEX [IX_Facturas_NumeroMedidor] ON [dbo].[Facturas]
(
	[NumeroMedidor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SensoresHumedad] ADD  DEFAULT ('Activo') FOR [Estado]
GO
ALTER TABLE [dbo].[Domicilios]  WITH CHECK ADD  CONSTRAINT [FK_Domicilios_Clientes_NumeroCliente] FOREIGN KEY([NumeroCliente])
REFERENCES [dbo].[Clientes] ([NumeroCliente])
GO
ALTER TABLE [dbo].[Domicilios] CHECK CONSTRAINT [FK_Domicilios_Clientes_NumeroCliente]
GO
ALTER TABLE [dbo].[Facturas]  WITH CHECK ADD  CONSTRAINT [FK_Facturas_Clientes_NumeroCliente] FOREIGN KEY([NumeroCliente])
REFERENCES [dbo].[Clientes] ([NumeroCliente])
GO
ALTER TABLE [dbo].[Facturas] CHECK CONSTRAINT [FK_Facturas_Clientes_NumeroCliente]
GO
ALTER TABLE [dbo].[Facturas]  WITH CHECK ADD  CONSTRAINT [FK_Facturas_Domicilios_NumeroMedidor] FOREIGN KEY([NumeroMedidor])
REFERENCES [dbo].[Domicilios] ([NumeroMedidor])
GO
ALTER TABLE [dbo].[Facturas] CHECK CONSTRAINT [FK_Facturas_Domicilios_NumeroMedidor]
GO
ALTER TABLE [dbo].[SensoresHumedad]  WITH CHECK ADD  CONSTRAINT [FK_SensoresHumedad_Biodigestor] FOREIGN KEY([IdBiodigestor])
REFERENCES [dbo].[BiodigestorEntities] ([IdBiodigestor])
GO
ALTER TABLE [dbo].[SensoresHumedad] CHECK CONSTRAINT [FK_SensoresHumedad_Biodigestor]
GO
ALTER TABLE [dbo].[SensoresPresion]  WITH CHECK ADD  CONSTRAINT [FK_SensorPresion_Biodigestor] FOREIGN KEY([IdBiodigestor])
REFERENCES [dbo].[BiodigestorEntities] ([IdBiodigestor])
GO
ALTER TABLE [dbo].[SensoresPresion] CHECK CONSTRAINT [FK_SensorPresion_Biodigestor]
GO
ALTER TABLE [dbo].[SensoresTemperatura]  WITH CHECK ADD  CONSTRAINT [FK_SensorTemperatura_Biodigestor] FOREIGN KEY([IdBiodigestor])
REFERENCES [dbo].[BiodigestorEntities] ([IdBiodigestor])
GO
ALTER TABLE [dbo].[SensoresTemperatura] CHECK CONSTRAINT [FK_SensorTemperatura_Biodigestor]
GO
ALTER TABLE [dbo].[UsuariosRegistrados]  WITH CHECK ADD CHECK  (([Rol]='Manager' OR [Rol]='Administracion' OR [Rol]='Tecnico' OR [Rol]='Cliente'))
GO
ALTER TABLE [dbo].[UsuariosRegistrados]  WITH CHECK ADD  CONSTRAINT [CK_UsuariosRegistrados_TipoContenidoFoto] CHECK  (([TipoContenidoFoto]='image/gif' OR [TipoContenidoFoto]='image/png' OR [TipoContenidoFoto]='image/jpeg' OR [TipoContenidoFoto] IS NULL))
GO
ALTER TABLE [dbo].[UsuariosRegistrados] CHECK CONSTRAINT [CK_UsuariosRegistrados_TipoContenidoFoto]
GO
USE [master]
GO
